@font-face {
    font-family: ShadowsIntoLight;
    src: url(./fonts/ShadowsIntoLight-Regular.ttf);
}

html,
body {
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: ShadowsIntoLight;
    color: white;
    background-color: navy;
    height: calc(100% + 600px);
    padding: 0;
    width: 80rem; 
}

.title {
    font-size: 65px;
}

input {
    width: 185px;
    border-radius: 10px;
    height: 20px;
    border: none;
    text-align: center;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}