@font-face {
    font-family: ShadowsIntoLight;
    src: url(./fonts/ShadowsIntoLight-Regular.ttf);
}

html,
body {
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: ShadowsIntoLight;
    color: white;
    background-color: navy;  
    height: 100%;
    margin: -8px;
    width: 80rem;  
}

input {
    width: 165px;
}