.Resume {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 900px;
    background-color: white;
    color: black;
    margin-bottom: 50px;
    padding: 25px;
}

.header,
.education {
    border-bottom: 1px solid black;
}

h2 {
    color: red;
}

h3 {
    font-weight: bold;
}

.fieldofstudy {
    font-size: 15px;
}

.duration {
    font-size: 10px;
}

.tasks {
    font-size: 12px;
} 